@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
  @apply font-archivo;
}

/* Estilo para deixar Header fixo */
header {
  background-color: transparent;
  transition: background-color 0.3s ease;
}

header.scrolled {
  background-color: rgba(218, 179, 169, 0.432);
  -webkit-backdrop-filter: blur(200px);
  backdrop-filter: blur(200px);
  box-shadow: 0 4px 8px #0003;
}

.bg-card {
  background-size: cover;
}

.bg-card-one {
  background-image: url(../../assets/img/img-card1.png);
}

.bg-card-two {
  background-image: url(../../assets/img/img-card2.png);
}

.bg-card-three {
  background-image: url(../../assets/img/img-card3.png);
}

.swiper {
  width: 100%;
  height: 100%;
}

.img-sobre::before {
  content: ''; /* Cria o pseudo-elemento */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  background-color: #f56434b3;
  border-radius: 50%;
  filter: blur(122px);
  z-index: 1;
  opacity: 0.9;
}

.container-sobre::before {
  content: ''; /* Cria o pseudo-elemento */
  position: absolute;
  top: 50%;
  left: -24%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 500px;
  background-color: #f5643457;
  border-radius: 50%;
  filter: blur(180px);
  z-index: -2;
  opacity: 0.9;
}


/* Estilos do play */
.plyr__video-wrapper {
  background-color: inherit!important;
  background: inherit!important;
  cursor: pointer;
}

.plyr, .plyr video {
  border-radius: 0.375rem!important;
  overflow: hidden!important;
}

.plyr__poster {
  background-color: inherit!important;
  background-position: inherit!important;
  background-size: cover!important;
}

.plyr__control {
  background: white!important;
}

.plyr__control svg {
  fill: #A35237!important;
}

.plyr__control--overlaid {
  display: flex!important;
  justify-content: center;
  align-items: center;
  width: 60px!important;
  height: 60px!important;
}

.plyr__control--overlaid svg {
  width: 50px!important;
  height: 50px!important;
}

.plyr__controls__item.plyr__control {
  display: flex!important;
  align-items: center;
  justify-content: center;
  border-radius: 5000px!important;
  width: 40px!important;
  height: 40px!important;
}

.plyr--full-ui input[type=range]{
  color: #A35237!important;
}

.plyr__controls {
  gap: 16px;
}


/* Estilo do ScrollBar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff59;
}

::-webkit-scrollbar-thumb {
  background: #A24F34;
  border-radius: 0.375rem;
}
::-webkit-scrollbar-thumb:hover {
  background: #A24F34;
}

@media (min-width: 768px) {
  .plyr__control--overlaid {
    width: 122px!important;
    height: 122px!important;
  }
}